<turbo-frame id="results-frame">
  <div id="correct-answers">
    <h1>Your results</h1>
    <h2>Your total score for this quiz on <%= lecture.title %> was: <%= quiz.grade %>/ 10</h2>
  </div>

  <div>
    <h2></h2>
    <ul>
      <% quiz.questions.each do |question| %>
        <li>
          <%= question.title %>
          <% if question.correct? %>
            <span>✅</span>
          <% else %>
            <span>❌</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</turbo-frame>
