<div>
  <button data-action="click->lecture#displayCode" class="shareable-link mb-3">Get code to share with students!</button>
  <h6 data-lecture-target="code" class="d-none"><%= lecture_url(@lecture, code: @lecture.shareable_link ) %></h6>
</div>
