<div data-controller='quiz'>
  <div data-quiz-target='quizContainer' class="d-none text-center">
    <div class="col-8 p-5 quiz-loading-container mx-auto">
      <div class="spinner-border mb-3 text-light" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <h3 class="text-white font-weight-bold">Your Quiz is being generated... this may take up to 1 minute</h3>
    </div>
  </div>
  <div data-quiz-target='summaryContainer'>
    <%# <%= render 'summary' %>
    <%= render "results", lecture: lecture, quiz: lecture.quiz_for_student(current_user) %>
  </div>
</div>
