<div data-controller='quiz'>
    <div data-quiz-target='quizContainer' class="d-none">
      <div id="quiz-container" class="col-8 p-5 lecture-summary" style="min-height: 100vh;">
        <p class="text-white">Generating your quizz...</p>
      </div>
    </div>
    <div data-quiz-target='summaryContainer'>
      <%= render 'summary' %>
    </div>
</div>
