<div data-controller="lecture" class="p-5">
  <% if current_user.teacher? %>
    <%= render 'teacher_lecture', lecture: @lecture %>
  <% elsif %>
    <%= render 'student_lecture', lecture: @lecture %>
  <% end %>
</div>
