<div class="container p-4" data-controller="lecture">
  <% if current_user.teacher? %>
    <%= render 'teacher_lecture', lecture: @lecture %>
  <% elsif %>
    <%= render 'student_lecture', lecture: @lecture %>
  <% end %>
</div>
