<div class="calendar-container">
  <%= month_calendar(events: @reminders) do |date, reminders| %>
    <%= date %>

    <% reminders.each do |reminder| %>
      <div class="meeting">
        <p><%= reminder.name %></p>
        <small><%= reminder.time unless reminder.multi_days? %></small>
      </div>
    <% end %>
  <% end %>
</div>
