<% current_user.student_lectures.map(&:lecture).uniq.each do |lecture| %>
  <div class="student-lecture-card">
  <div class="student-lecture-card-info">
    <p class="student-lecture-card-title"><%= link_to lecture.title, lecture_path(lecture), class:"text-decoration-none text-dark" %></p>
    <p class="scrollable-summary"><%= lecture.summary %></p>
  </div>
  <div class="student-lecture-card-footer">
    <p class="student-lecture-card-tag">#HTML #CSS </p>
    <%= link_to "Go to lecture", lecture_path(lecture), class:"student-lecture-card-action text-decoration-none text-white" %>
  </div>
</div>
<% end %>
