.create-lecture-input {
  width: 100%;
  height: 80px;
  border-radius: 20px;
  padding: 15px;
  background-color: $light-gray;
  color: $white;
}

.create-lecture-title-input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  padding: 15px;
  background-color: $light-gray;
  color: $white;
}

.create-lecture-input::-webkit-scrollbar {
  display: none;
}

.create-lecture-input {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
