.lecture-summary {
  border: 1px solid #c5c5c5;
  border-radius: 20px;
}

.lecture-notes {
  border: 1px solid #c5c5c5;
  border-radius: 20px;
}

.lecture-chat {
  border: 1px solid #c5c5c5;
  border-radius: 20px;
}
